.star {
    position: absolute;
    width: 10px;
    height: 10px;
    background: radial-gradient(circle, transparent 1%, $primary 100%);
    animation: twinkle 2s linear infinite;
    z-index: 2;
}


@keyframes twinkle {
    0% {
        opacity: 0;
        transform: translateY(0);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translateY(100%);
    }
}