.modal {
    display: none; /* Oculto por defecto */
    position: fixed;
    z-index: 5;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.8);
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.modal-content {
    background-color: #000000;
    border: 1px solid #888;
    width: 80%;
    overflow-y: scroll;
    margin: 2rem;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    &::-webkit-scrollbar {
        display: none;
    }
}

// Modal Proyectos

.img-proyectos {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: auto;
    object-fit: contain;
}

.img-proyectos img {
    height: auto;
    width: 100%;
    border: 1rem solid $primary;
    
}





// Botón cerrar modal

.box-close{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    padding-right: 8rem;
}

.close {
    color: #aaa;
    float: right;
    font-size: 8rem;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: rgb(251, 255, 0);
    text-decoration: none;
    cursor: pointer;
}

// Modal Ingles

.modal-ingles{
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 90%;
    overflow: auto;
    align-items: center;
    justify-content: center;

    img{
        width: 100%;
        height: auto;
        max-width: 200rem;
        max-height: 50rem;
        overflow: hidden;
        @include tablet{
            max-width: 200rem;
            max-height: 50rem;
        }
    }
}

