.modal {
    display: none; /* Oculto por defecto */
    position: fixed;
    z-index: 5;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.8);
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.modal-content {
    background-color: #fefefe;
    border: 1px solid #888;
    width: 100%;
    height: auto;
    max-height: 70rem;
    @include tablet{
        width: 80%;
        height: auto;
    }
    
    display: flex;
    flex-direction: column;
}

.close {
    color: #aaa;
    float: right;
    font-size: 8rem;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: rgb(251, 255, 0);
    text-decoration: none;
    cursor: pointer;
}

// Modal Ingles

.modal-ingles{
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 90%;
    overflow: auto;
    align-items: center;
    justify-content: center;

    img{
        width: 100%;
        height: auto;
        max-width: 200rem;
        max-height: 50rem;
        overflow: hidden;
        @include tablet{
            max-width: 200rem;
            max-height: 50rem;
        }
    }
}

// Modal Proyectos


.carousel {
    position: relative;
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
}

.carousel img {
    width: 100%;
    height: auto;
    left: 0;
    position: sticky;
    object-fit: cover;
    border-radius: 1rem;
    scroll-snap-align: center;

    @include tablet{
        object-fit: contain;
    }
}

.sub{
    cursor: pointer;
    margin-top: 2rem;
    padding-top: 1rem;
    max-width: 2rem;
    width: 100%;
    background-color: #817f7f;

    &:hover{
        background-color: #555555;
    }
}


