
.proyectos{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: clip;
    .contenedor{
        margin: 2rem;
        margin-bottom: 6rem;
        width: 80vw;
        height: 30vh;
        background-color: $primary;
        text-align: center;
        justify-self: center;
        align-items: center;
        cursor: pointer;
        transition: all 100s;
        z-index: 3;
        
        p{
            opacity: 0;
            span{
                color: $accent;
            }
        }
        
        
        &:hover{
            background-color: white;
            background-image: none;
            z-index: 1;
            p{
                opacity: 1;
                color: black
            }
        }
    }
}
// Cambiar modo tablet
@include tablet{
    .proyectos{
    display: flex;

        .contenedor{
            min-width: 70%;
            max-width: 300px;
            margin: 2rem auto; /* Centra el div horizontalmente */
            background-color: $primary;
            text-align: center;
            justify-self: center;
            align-items: center;
            transition: background-color 500ms;
            cursor: pointer;
        }
    }
}


@include desktop{
    .proyectos{
        height: 100vh;
        @include grid(2, 4rem);

            .contenedor{
                min-width: 90%;
                min-height: 50%;
                margin: 0 auto; /* Centra el div horizontalmente */
                background-color: $primary;
                text-align: center;
                justify-self: center;
                align-items: center;
                cursor: pointer;
            }
    }
}
.bienes{
    background-image: url(/build/img/proyectos/bienes/1.JPG);
    background-size: cover;
}

.salon{
    background-image: url(/build/img/proyectos/salon/1.JPG);
    background-size: cover;
}
